.checkout{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
}
.checgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:50px;
}
.checbasliq p{
    color: #101316;
font-size: 40px;
font-weight: 700;
line-height: 56px; 
}
.checppqstable{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ppqs{
    padding-bottom: 13px;
    display: grid;
    grid-template-columns: 10fr 3fr 6fr 3fr 1fr;
    border-bottom: 1px solid rgba(165, 169, 172, 0.20) ;
}
.checimgtitle{
    display: flex;
    align-items: center;
    gap: 10px;
}
.checimgtitle img{
    width: 41.167px;
height: 50px;
}
.chectitlecolor{
    display: flex;
    flex-direction: column;
}
.chectitlecolor p:nth-of-type(1){
    color:#101316;
font-size: 16px;
font-weight: 700;
line-height: 30px;
}
.chectitlecolor p:nth-of-type(2){
    color: #101316;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.ppqstit{
    color:#101316;
font-size: 16px;
font-weight: 400;
line-height: 30px; /* 187.5% */
}
.checplusminus{
    display: flex;
    align-items: center;
}
.checminus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
height: 50px;
border-radius: 10px 0px 0px 10px;
border: 1px solid rgba(165, 169, 172, 0.20);
cursor: pointer;
}
.checkbir{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
height: 50px;
border-top: 1px solid rgba(165, 169, 172, 0.20);
border-bottom: 1px solid rgba(165, 169, 172, 0.20);
}
.checkplus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
height: 50px;
border-radius: 0px 10px 10px 0px;
border: 1px solid rgba(165, 169, 172, 0.20);
cursor: pointer;
}
@media (max-width: 1024px) {
    .checgrid {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .ppqs {
        grid-template-columns: 8fr 2fr 5fr 2fr 1fr;
    }

    .checimgtitle img {
        width: 35px;
        height: 42px;
    }

    .checbasliq p {
        font-size: 30px;
        line-height: 45px;
    }
}

@media (max-width: 768px) {
    .checimgtitle{
        display: flex;
        align-items: center;
    }
    .chectitlecolor{
        display: flex;
        align-items:center ;
    }
    .checbasliq p {
        font-size: 24px;
        line-height: 36px;
    }
     .checppqstable{
        display: grid;
        grid-template-columns: 1fr 1fr;
     }
    .ppqs {
        display: flex;
        flex-direction: column;
    }
    .ppqs:nth-of-type(1){
        gap: 20px;
    }
    .checimgtitle img {
        width: 30px;
        height: 38px;
    }

    .checplusminus div {
        width: 45px;
        height: 45px;
    }
    .checktrash{
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 480px) {
    .checbasliq p {
        font-size: 20px;
        line-height: 30px;
    }

    .checimgtitle {
        flex-direction: column;
        gap: 5px;
    }

    .ppqs:nth-of-type(1){
        gap: 50px;
    }

    .ppqstit, .chectitlecolor p {
        font-size: 14px;
        line-height: 24px;
    }

    .checimgtitle img {
        width: 25px;
        height: 32px;
    }

    .checplusminus, .checkbir {
        width: 30px;
        height: 40px;
    }
}